
.light {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    cursor: pointer;
}

.light-icon-wrapper, .light-icon-wrapper i {
    transition: all .3s ease-in;
}

.light-name {
    padding: 10px;
    color: white;
    font-size: 1.2rem;
    line-height: 1.1;
}

.light-icon-wrapper {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 5px solid #ccc;
    /*background: #ccc;*/
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 0px #fff;
    overflow: hidden;
}

.light-icon {
    text-shadow: 0px 0px 0px #fff;
}

.light-icon-background-large {
    transform: scale(1.1);
}

.not-connected {
    color: red;
}

.not-connected .light-icon-wrapper {
    border-color: red;
    background: #f99;
}

.power-off {
    color: #666;
}

.power-off .light-icon-wrapper {
    border-color: #666;
}

.power-on {
    color: white;
}

.power-on .light-icon-wrapper {
    border-color: #ccc;
    box-shadow: 0px 0px 30px #fff;
}

.power-on .light-icon {
    text-shadow: 0px 0px 30px #fff, 0px 0px 2px #000;
}
